// fuentes

$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

// colores

$violeta: #572EE5;
$celeste: #5ED7C6;
$blanco: #FFFFFF;
$gris: #9CAFC3;
$negro: #000000;
$grisClaro: #F3F5F8;
$grisDark: #37383C;
$negroDark: #222326;