@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  max-width: 500px;
  width: 100vw;
  height: 100px;
}

body.dark header {
  background: #37383C;
}

header div.lineaVioleta {
  position: fixed;
  width: 100%;
  height: 5px;
  background: #572EE5;
}

body.dark header div.lineaVioleta {
  background: #000000;
}

header div.contenedorLogoMenu {
  position: fixed;
  background: #FFFFFF;
  top: 5px;
  width: 100%;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body.dark header div.contenedorLogoMenu {
  background: #37383C;
}

header div.contenedorLogoMenu img.logo-mobile {
  position: absolute;
  top: 21px;
  left: 5%;
}

body.dark header div.contenedorLogoMenu img.logo-diurno {
  display: none;
}

header div.contenedorLogoMenu img.logo-desktop {
  display: none;
}

header div.contenedorLogoMenu img.logo-mobile.logo-dark {
  display: none;
}

body.dark header div.contenedorLogoMenu img.logo-mobile.logo-dark {
  display: block;
}

header div.contenedorLogoMenu input#burger-menu {
  display: none;
}

header div.contenedorLogoMenu label.menu-hamb {
  display: block;
  margin: 33px 5% auto auto;
}

body.dark header div.contenedorLogoMenu label.menu-hamb {
  display: none;
}

header div.contenedorLogoMenu label.hamb-dark {
  display: none;
}

body.dark header div.contenedorLogoMenu label.hamb-dark {
  display: block;
}

header div.contenedorLogoMenu input#burger-menu:checked ~ .menu {
  top: 100px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

header div.contenedorLogoMenu input#burger-menu:checked ~ .cross-menu.cross-diurno {
  display: block;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

body.dark header div.contenedorLogoMenu input#burger-menu:checked ~ .cross-menu.cross-diurno {
  display: none;
}

header div.contenedorLogoMenu input#burger-menu:checked ~ .cross-menu.cross-dark {
  display: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

body.dark header div.contenedorLogoMenu input#burger-menu:checked ~ .cross-menu.cross-dark {
  display: block;
}

header div.contenedorLogoMenu input#burger-menu:checked ~ .menu-hamb {
  display: none;
}

header div.contenedorLogoMenu label.cross-menu.cross-diurno {
  display: none;
  margin: 33px 5% auto auto;
}

header div.contenedorLogoMenu label.cross-menu.cross-dark {
  display: none;
  margin: 33px 5% auto auto;
}

header div.contenedorLogoMenu nav.menu {
  position: fixed;
  background: #562ee5c4 90%;
  width: 100%;
  top: -100%;
  height: 100%;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

body.dark header div.contenedorLogoMenu nav.menu {
  background: #000000;
}

body.dark header div.contenedorLogoMenu nav.menu a {
  color: #FFFFFF;
}

header div.contenedorLogoMenu nav.menu ul {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.contenedorLogoMenu nav.menu ul li {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header div.contenedorLogoMenu nav.menu ul li a {
  text-decoration: none;
  text-align: center;
  letter-spacing: 0;
  margin: auto;
  color: white;
  size: 15px;
  font-weight: bold;
}

body.dark header div.contenedorLogoMenu nav.menu ul li a span.btn-light {
  display: none;
}

header div.contenedorLogoMenu nav.menu ul li a span.btn-dark {
  display: none;
}

body.dark header div.contenedorLogoMenu nav.menu ul li a span.btn-dark {
  display: inline-block;
}

header div.contenedorLogoMenu nav.menu ul li a.dark {
  color: #FFFFFF;
}

header div.contenedorLogoMenu nav.menu ul li div.lineaDebajoLink {
  width: 41px;
  height: 1px;
  background: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

header div.contenedorLogoMenu nav.menu ul li.btn-crearGif {
  display: none;
}

@media screen and (min-width: 501px) {
  header {
    max-width: 1440px;
  }
  header div.contenedorLogoMenu img.logo-mobile.logo-diurno {
    display: none;
  }
  header div.contenedorLogoMenu img.logo-mobile.logo-dark {
    display: none;
  }
  body.dark header div.contenedorLogoMenu img.logo-mobile.logo-dark {
    display: none;
  }
  header div.contenedorLogoMenu img.logo-desktop {
    display: block;
    position: absolute;
    left: 5%;
    top: 21px;
  }
  body.dark header div.contenedorLogoMenu img.logo-dektop.logo-diurno {
    display: none;
  }
  header div.contenedorLogoMenu img.logo-desktop.logo-dark {
    display: none;
  }
  body.dark header div.contenedorLogoMenu img.logo-desktop.logo-dark {
    display: block;
  }
  header div.contenedorLogoMenu input#burger-menu {
    display: none;
  }
  header div.contenedorLogoMenu label.menu-hamb.hamb-diurno {
    display: none;
  }
  header div.contenedorLogoMenu label.cross-menu.cross-menu.cross-diurno {
    display: none;
  }
  header div.contenedorLogoMenu label.cross-menu.cross-dark {
    display: none;
  }
  header div.contenedorLogoMenu input#burger-menu:checked ~ .cross-menu.cross-dark {
    display: none;
  }
  body.dark header div.contenedorLogoMenu input#burger-menu:checked ~ .cross-menu.cross-dark {
    display: none;
  }
  header div.contenedorLogoMenu nav.menu {
    width: 60%;
    height: 95px;
    top: 5px;
    right: 0%;
    left: auto;
    background: #FFFFFF;
  }
  body.dark header div.contenedorLogoMenu nav.menu {
    background: #37383C;
  }
  header div.contenedorLogoMenu nav.menu ul {
    position: relative;
    top: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  header div.contenedorLogoMenu nav.menu ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header div.contenedorLogoMenu nav.menu ul li a {
    text-align: center;
    letter-spacing: 0;
    margin: auto;
    color: #572EE5;
    size: 13px;
    font-weight: bold;
    text-transform: uppercase;
  }
  header div.contenedorLogoMenu nav.menu ul li div.lineaDebajoLink {
    display: none;
  }
  header div.contenedorLogoMenu nav.menu ul li a.link:hover {
    -webkit-text-decoration: underline solid 3px #5ED7C6;
            text-decoration: underline solid 3px #5ED7C6;
  }
  header div.contenedorLogoMenu nav.menu ul li a.link:active {
    text-decoration: none;
    color: #9CAFC3;
  }
  header div.contenedorLogoMenu nav.menu ul li span.btn-dark:hover {
    -webkit-text-decoration: underline #5ED7C6 3px solid;
            text-decoration: underline #5ED7C6 3px solid;
  }
  header div.contenedorLogoMenu nav.menu ul li.btn-crearGif {
    display: block;
  }
  header div.contenedorLogoMenu nav.menu ul li.btn-crearGif a button {
    width: 54px;
    height: 54px;
    cursor: pointer;
    font-size: xx-large;
    background-color: #FFFFFF;
    border: 1px solid #572EE5;
    border-radius: 50%;
    color: #572EE5;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  body.dark header div.contenedorLogoMenu nav.menu ul li.btn-crearGif a button {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #37383C;
  }
  header div.contenedorLogoMenu nav.menu ul li.btn-crearGif a button:hover {
    background-color: #572EE5;
    color: #FFFFFF;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  body.dark header div.contenedorLogoMenu nav.menu ul li.btn-crearGif a button:hover {
    background-color: #FFFFFF;
    color: #000000;
  }
  header div.contenedorLogoMenu nav.menu ul li.btn-crearGif a button:active {
    background-color: #9CAFC3;
    color: #FFFFFF;
    border-color: #9CAFC3;
  }
  body.dark header div.contenedorLogoMenu nav.menu ul li.btn-crearGif a button:active {
    background-color: #9CAFC3;
    color: #FFFFFF;
    border-color: #9CAFC3;
  }
  header div.contenedorLogoMenu input#burger-menu:checked ~ .menu {
    top: unset;
  }
}

footer {
  width: 100%;
  height: 200px;
  background: #FFFFFF;
}
/*# sourceMappingURL=favoritosStyle.css.map */